.howto{
	width: 650px;
	padding-top:50px;
	margin-left:auto;/* センタリング */
	margin-right:auto;/* センタリング */
}
.howto p{
	border-style:solid;
	border-width:2px 0px 0px 0px;
	border-color:blue;
	font-size :80%;
	line-height: 2;

}