{BLOGN_INFORMATION}
<div class="blogn_main">
<form action="./admin.php?mode=security&amp;action=add" method="post">
<div class="blogn_bar">拒否IP追加</div>
<table class="blogn_user_list">
	<tr>
		<td bgcolor="#dcdcdc" width="60%">IP アドレス<div class="blogn_comment">※ IPアドレスにはワイルドカード(*)が使用できます。<br>
※ 使用例）192.168.0.* で 192.168.0.0～192.168.0.255までのIPを拒否します。</div>
		</td>
		<td width="40%"><input type="text" name="blogn_deny_ip" maxlength="15" style="width:96%;"></td>
	</tr>
</table>
<div class="blogn_submit_type"><input type="submit" name="blogn_user_add" value="追加"></div>
</form>
<div class="blogn_bar">拒否IP一覧</div>
<table class="blogn_user_list">
	<tr bgcolor="#dcdcdc" align="center">
		<th width="150">拒否IP</th><th width="*">登録日</th><th width="50">IP削除</th>
	</tr>
	{BLOGN_ACCESS}
		{BLOGN_ACCESS_LOOP}
		<tr align="center">
			<td style="font-size:16px;">{BLOGN_IP}</td>
			<td style="font-size:16px;">{BLOGN_DATE}</td>
			<td><a href="admin.php?mode=security&amp;action=delete&id={BLOGN_ID}"><img src="./images/trash.gif" border="0" alt="削除"></a></td>
		</tr>
		{/BLOGN_ACCESS_LOOP}
	{BLOGN_ACCESS_ELSE}
	<tr>
		<td colspan="3" align="center" style="font-size:16px;">登録されているIPアドレスはありません。</td>
	</tr>
	{/BLOGN_ACCESS}
</table>
</div>
