{BLOGN_INFORMATION}
<div class="blogn_main">
<form action="./admin.php?mode=init&amp;action=update" method="post">
<div class="blogn_bar">初期設定情報</div>
<table class="blogn_user_list">
<tr bgcolor="#dcdcdc"><th colspan="4" align="center">サイト設定</th></tr>
<tr>
	<td bgcolor="#e9e9e9" width="25%">サイト名</td>
	<td width="25%"><input type="text" name="blogn_sitename" size="40" value="{BLOGN_SITENAME}" style="width:96%;"></td>
	<td bgcolor="#e9e9e9" width="15%">サイト説明</td>
	<td width="35%"><input type="text" name="blogn_sitedesc" size=40 value="{BLOGN_SITEDESC}" style="width:96%;"></td>
</tr>
<tr>
	<td bgcolor="#e9e9e9" width="25%">タイムゾーン</td>
	<td width="25%"><select name="blogn_timezone" style="width:96%;">
{BLOGN_TIMEZONE}
	</select></td>
	<td bgcolor="#e9e9e9" width="15%">文字出力コード<div class="blogn_comment">※文字コードを変更した場合は必ず[スキンの追加／編集]で登録しているcssファイルを全て更新してください。</div></td>
	<td width="35%"><select name="blogn_charset" style="width:96%;">
{BLOGN_CHARSET}
	</select></td>
</tr>
<tr bgcolor="#dcdcdc"><th colspan="4" align="center">投稿設定</th></tr>
<tr>
	<td bgcolor="#e9e9e9" width="25%">アップロード可能ファイルサイズ<div class="blogn_comment">ユーザーがアップロード可能な最大サイズ</div></td>
	<td width="25%"><input type="text" name="blogn_max_filesize" size="4" value="{BLOGN_MAX_FILESIZE}"> KB</td>
	<td bgcolor="#e9e9e9" width="25%">表示可能最大サイズ（横×縦）<div class="blogn_comment">ブラウザで閲覧時の画像サイズ。指定サイズを超えた画像は自動リサイズ。</div></td>
	<td width="25%"><input type="text" name="blogn_max_view_width" size="3" value="{BLOGN_MAX_VIEW_WIDTH}"> pixel × <input type="text" name="blogn_max_view_height" size="3" value="{BLOGN_MAX_VIEW_HEIGHT}"> pixel</td>
</tr>
<tr>
	<td bgcolor="#e9e9e9" width="25%">許可するファイルの種類<div class="blogn_comment">追加するファイルの種類が複数ある場合はカンマで区切る。<br>例）jpg, png, bmp<br><br>削除するファイルの種類が複数ある場合は複数選択してから削除ボタンを押す。</div></td>
	<td width="25%"><input type="text" style="width:96%;" name="blogn_permit_file_add_text"><div align="right"><input type="submit" name="blogn_permit_file_add" value="追加する"></div><br>
	<select size="4" name="blogn_permit_file_type[]" multiple style="width:96%;">{BLOGN_PERMIT_FILE_TYPE}</select><div align="right"><input type="submit" name="blogn_permit_file_del" value="削除する"></div></td>
	<td bgcolor="#e9e9e9" width="25%">有効にするHTMLタグ<div class="blogn_comment">追加するタグの種類が複数ある場合はカンマで区切る<br>例）b, i, s, u, a, img<br><br>削除するタグの種類が複数ある場合は複数選択してから削除ボタンを押す。</div></td>
	<td width="25%"><input type="text" style="width:96%;" name="blogn_permit_html_add_text"><div align="right"><input type="submit" name="blogn_permit_html_add" value="追加する"></div><br>
	<select size="4" name="blogn_permit_html_tag[]" multiple style="width:96%;">{BLOGN_PERMIT_HTML_TAG}</select><div align="right"><input type="submit" name="blogn_permit_html_del" value="削除する"></div></td>
</tr>
<tr>
	<td bgcolor="#e9e9e9" width="25%">コメント投稿文字数<div class="blogn_comment">コメント投稿で受け付ける文字数。0設定で無制限</div></td><td width="25%"><input type="text" name="blogn_comment_size" size="5" value="{BLOGN_COMMENT_SIZE}"> bytes</td>
	<td bgcolor="#e9e9e9" width="25%">トラックバック受信方法<div class="blogn_comment">※ トラックバックが受信できない場合はチェックを入れてください。</div></td>
	<td width="25%"><input type="checkbox" name="blogn_trackback_slash_type" value="1" id="trackback_slash_type"{BLOGN_TRACKBACK_SLASH_CHECK}><label for="trackback_slash_type">トラックバック受信方法を[／]⇒[？]に変更 </label></td>
</tr>
<tr>
	<td bgcolor="#e9e9e9" width="25%">コメント受信有効期限<div class="blogn_comment">記事にコメント投稿できる期間を制限します。</div></td>
	<td width="25%">
		<select name="blogn_limit_comment">
			{BLOGN_LIMIT_COMMENT}
		</select>
	</td>
	<td bgcolor="#e9e9e9" width="25%">トラックバック受信有効期限<div class="blogn_comment">記事にトラックバックできる期間を制限します。</div></td>
	<td width="25%">
		<select name="blogn_limit_trackback">
			{BLOGN_LIMIT_TRACKBACK}
		</select>
	</td>
</tr>
<tr bgcolor="#dcdcdc"><th colspan="4" align="center">記事表示設定</th></tr>
<tr>
	<td bgcolor="#e9e9e9" width="25%">記事通常表示件数<div class="blogn_comment">ブラウザから閲覧時の記事表示件数</div></td>
	<td width="25%">
		<select name="blogn_log_view_count">
			{BLOGN_LOG_VIEW_COUNT}
		</select>
	</td>
	<td bgcolor="#e9e9e9" width="25%">記事携帯表示件数<div class="blogn_comment">携帯から閲覧時の記事表示件数</div></td>
	<td width="25%">
		<select name="blogn_mobile_view_count">
			{BLOGN_MOBILE_VIEW_COUNT}
		</select>
	</td>
</tr>
<tr>
	<td bgcolor="#e9e9e9" width="25%">月別表示方法<div class="blogn_comment">月別に記事を表示したときの記事の順番</div></td>
	<td width="25%">
		<select name="blogn_monthly_view_mode">
			{BLOGN_MONTHLY_VIEW_MODE}
		</select>
	</td>
	<td bgcolor="#e9e9e9" width="25%">カテゴリ別表示方法<div class="blogn_comment">カテゴリ別に記事を表示したときの記事の順番</div></td>
	<td width="25%">
		<select name="blogn_category_view_mode">
			{BLOGN_CATEGORY_VIEW_MODE}
		</select>
	</td>
</tr>
<tr>
	<td bgcolor="#e9e9e9" width="25%">新着記事一覧表示件数<div class="blogn_comment">新着投稿記事リストの一覧表示数</div></td>
	<td width="25%">
		<select name="blogn_new_entry_view_count">
			{BLOGN_NEW_ENTRY_VIEW_COUNT}
		</select>
	</td>
	<td bgcolor="#e9e9e9" width="25%">月別記事一覧表示件数<div class="blogn_comment">月別に分類された記事リストの一覧表示数</div></td>
	<td width="25%">
		<select name="blogn_archive_view_count">
			{BLOGN_ARCHIVE_VIEW_COUNT}
		</select>
	</td>
</tr>
<tr>
	<td bgcolor="#e9e9e9" width="25%">コメント一覧表示件数<div class="blogn_comment">新着コメント投稿リストの一覧表示数</div></td>
	<td width="25%">
		<select name="blogn_comment_view_count">
			{BLOGN_COMMENT_VIEW_COUNT}
		</select>
	</td>
	<td bgcolor="#e9e9e9" width="25%">トラックバック一覧表示件数<div class="blogn_comment">新着トラックバック記事の一覧表示数</td>
	<td width="25%">
		<select name="blogn_trackback_view_count">
			{BLOGN_TRACKBACK_VIEW_COUNT}
		</select>
	</td>
</tr>
<tr>
	<td bgcolor="#e9e9e9" width="25%">コメント表示<div class="blogn_comment">一記事表示以外でのコメントの表示方法を設定します。</div></td>
	<td width="25%">
		<select name="blogn_comment_list_topview_on">
			{BLOGN_COMMENT_LIST_TOPVIEW_ON}
		</select>
	</td>
	<td bgcolor="#e9e9e9" width="25%">トラックバック表示<div class="blogn_comment">一記事表示以外でのトラックバックの表示方法を設定します。</td>
	<td width="25%">
		<select name="blogn_trackback_list_topview_on">
			{BLOGN_TRACKBACK_LIST_TOPVIEW_ON}
		</select>
	</td>
</tr>
<tr bgcolor="#dcdcdc"><th colspan="4" align="center">セッション／クッキー設定</th></tr>
<tr valign="top">
	<td bgcolor="#e9e9e9" width="25%">セッション保持時間<div class="blogn_comment">ユーザーが自動ログアウトするまでの時間</td>
	<td width="25%"><input type="text" name="blogn_session_time" size="5" value="{BLOGN_SESSION_TIME}"> 秒<div class="blogn_comment">1時間 = 3600秒<br>12時間 = 43200秒</div></td>
	<td bgcolor="#e9e9e9" width="25%">クッキー保持時間<div class="blogn_comment">ユーザーが自動ログアウトするまでの時間<br>セッションが使えない場合やオートログイン使用時はこの時間を使用</div></td>
	<td width="25%"><input type="text" name="blogn_cookie_time" size="6" value="{BLOGN_COOKIE_TIME}"> 秒<div class="blogn_comment">1日 = 86400秒<br>1週間 = 604800秒</div></td>
</tr>
</table>
<div class="blogn_submit_type"><input type="submit" name="blogn_init_update" value="更新"></div>
</form>
</div>
